/* Styles globaux */
body {
  font-family: var(--font-merriweather);
  background-color: var(--beige);
  color: var(--bordeaux);
  line-height: 1.7;
  overflow-x: hidden;
}
img { max-width: 100%; height: auto; display: block; }
a { text-decoration: none; color: inherit; }
.container { max-width: 393px; margin: 0 auto; width: 100%; }
