/* Header */
.header {
  background-color: var(--bordeaux);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo { width: 80px; height: 53px; position: relative; z-index: 103; }
.header__logo img { width: 100%; height: auto; }
.header__menu-toggle { display: none; }
.header__menu {
  width: 36px; height: 27px; cursor: pointer; display: flex; flex-direction: column; justify-content: space-between; background: none; border: none; padding: 0; position: relative; z-index: 103;
}
.header__menu-line { width: 100%; height: 2px; background-color: var(--beige); transition: all 0.3s ease; display: block; }
.header__languages { display: flex; align-items: center; gap: 10px; font-size: 15px; margin-left: auto; margin-right: 10px; }
.header__languages-link { color: var(--beige); text-decoration: none; cursor: pointer; transition: color 0.3s ease; }
.header__languages-link:hover { color: var(--rose); }
.header__languages-link--active { color: var(--beige); font-weight: 700; }
.header__languages-separator { width: 1px; height: 20px; background-color: var(--beige); transform: rotate(45deg); }
