/* Intro section */
.intro { padding: 0; font-size: 15px; line-height: 25.5px; position: relative; height: auto; margin-bottom: 0; }
.intro p { position: absolute; left: 21px; right: 21px; margin: 0; z-index: 2; }
.intro p:first-child { top: 0; }
.intro p:nth-child(2) { top: 100px; }
.intro__image { position: absolute; right: 21px; top: 59px; width: 260px; height: 267px; border-radius: 0; overflow: hidden; z-index: 1; }
.intro__image img { width: 100%; height: 100%; object-fit: cover; }
/* Image d'introduction (page d'accueil) sans style inline */
.intro img { width: 90%; height: auto; margin-left: auto; display: block; }
